@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

html {
    overflow-y: scroll;
}

header {
    border-style: double;
    height: 120px;
    text-align: center;
}

nav {
    padding: 0.2em;
    padding-bottom: 0px;
}

nav a {
    color: rgb(0, 255, 128);
    font-style: italic;
    text-decoration: none;
    display: inline-block;
    transition: all ease 300ms;
}

nav a:hover {
    color: rgb(1, 192, 96);
}

nav a:visited {
    color:rgb(0, 255, 128)
}

nav #hnav {
    color: white;
    text-decoration: none;
}

nav #hnav:visited {
    color: white;
}

body {
    font-family: 'EB Garamond';
    background: rgb(14, 13, 13);
    color: white;
    width: 700px;
    margin: auto;
}

main, footer {
    padding: 10px;
    border-style: double;
}

main a {
    color: rgb(0, 183, 255);
    font-style: italic;
}